<h2>Formular adaugare student</h2>
<form method="post" action="/Students/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Name" /> @*asta se numeste model binding*@
    <br /><br />
    <label>Adresa e-mail</label>
    <br />
    <input type="text" name="Email" />
    <br />
    <br />
    <label>CNP</label>
    <br />
    <input type="text" name="CNP" />
    <br />
    <br />
    <button type="submit">Adauga student</button>
</form>>