@{
    ViewBag.PageName = "Pagina afisare articol";
}

<h2>@ViewBag.PageName</h2>
<br />

<h1>@ViewBag.Article.Title</h1>
<br />
<p1>@ViewBag.Article.Content</p1>
<br />
<small>@ViewBag.Article.Date</small>
<br />

<a href = "/Articles/Index">Afisare articole</a>

<form method= "post" action = "/Articles/Delete/@ViewBag.Article.Id">
    <button type ="submit">Stergere Articol</button>    
</form>