#mare{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vw;
    width: 45vw;
    min-width: 100px;
    min-height: 100px;
    background-color: red;
    border-bottom: 5vw solid grey;
    border-right: 50vw solid white;
}


#mic{
    box-sizing: content-box;
    display: flex;
    height: 20vw;
    width: 20vw;
    border: 5vw solid black;
    background-color: yellow;
}
